.modal__image {
    width: 498px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.modal__footer {
    display: flex;
    height: 112px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 32px;
    font-family: "Cabinet Grotesk-Bold";
    background-color: white;
    border-radius: 0 0 20px 20px;
}

.modal__caption{
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    color: #000; 
    padding-top: 20px;
}

.modal__weather{
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    color: #000; 
    padding-bottom: 32px;
}

.modal__content_item {
    position: relative;
    display: flex;
    border-radius: 20px;
    max-width: 498px;
    flex-direction: column;
    padding: 0;
}

.modal__close-item{
    position: absolute;
    top: 20px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: none;
    background-image: url(../../../assets/whiteclose.png);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.modal__delete-button{
    display: flex;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 32px;
    bottom: 68px;
}

.delete__modal {
    position: absolute;
    width: 101px;
    height: 24px;
    cursor: pointer;
    color: red;
    border: none;
    background-color: white;
    left: 365px;
    bottom: 68px;
}