.modal__image {
    width: 498px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.modal__footer {
    padding: 20px 32px;
}

.modal__content_item {
    position: relative;
    display: flex;
    border-radius: 20px;
    max-width: 498px;
    flex-direction: column;
    padding: 0;
}

.modal__close_dark{
    background-image: url(../../assets/whiteclose.png);
}