.card {
    width: 323px;
    height: 328px;
    position: relative;
    display: flex;
    justify-content: center;
}

.card__name {
    position: static;
    margin: 0;
    font-family: "Cabinet Grotesk-Medium";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 20px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px 12px;
    background-color: white;
}

.card__info {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
}

.card__image {
   width: 100%;
   border-radius: 20px;
} 

.unlike_button {
    position: static;
    background: none;
    background-image: url(../../../assets/unlikebutton.png);
    border: none;
    width: 22px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0;
}

.like_button {
    background-image: url(../../../assets/likebutton.png);
    position: static;
    background: none;
    border: none;
    width: 22px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 0;
}