.sidebar{
    display: flex;
    flex-direction: column;
    width: 229px;
}

.sidebar__avatar {
    width: 56px;
    height: 56px;
    padding-right: 16px;
}

.sidebar__username{
    width: 157px;
    margin: auto;
    padding-right: 116px;

}

.sidebar__user-info{
    display: flex;
    flex-direction: row;
}

.sidebar__user-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.sidebar__user-info-button {
    display: flex;
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
}

.sidebar__user-info-button:hover {
    background-color: #000;
    color: #fff;
}

.sidebar__logout-button {
    display: flex;
    background-color: transparent;
    border: none;
    color: black;
    padding: 0;
    /* padding: 8px 16px; */
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;

}

.sidebar__logout-button:hover {
    background-color: #000;
    color: #fff;
}




